@import "variables";

@mixin flex--center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex-column-center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@mixin button-background-hover ($color) {
	background-color: $color;
	transition: 0.4s;
}

@mixin button-color-hover ($color) {
	color: $color;
	transition: 0.4s;
}